@model IEnumerable<Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sorting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Id)*@
                @item.Id
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Title)*@
                @item.Title
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Slug)*@
                @item.Slug
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Content)*@
                @item.Content
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Sorting)*@
                @item.Sorting
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a asp-action = "Edit" asp-route-id = "@item.Id">Edit</a>
                <a asp-action = "Details" asp-route-id="@item.Id">Details</a>
                @if(item.Slug != "home"){
                    <a class="confirmDeletion" asp-action ="Delete" asp-route-id="@item.Id">Delete</a>
                }                
            </td>
        </tr>
}
    </tbody>
</table>
